node_modules
.next
.env*
.turbo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel
.DS_Store

# Frontend build artifacts
apps/wrbt-web/.next
apps/wrbt-web/node_modules

# Backend build artifacts
apps/wrbt-api/dist
apps/wrbt-api/node_modules
*.tsbuildinfo
