modules = ["nodejs-20"]

# Development run command
run = "npm run dev:api"

[deployment]
build = ["sh", "-c", "npm --workspace apps/wrbt-api run build"]
run = ["sh", "-c", "npm --workspace apps/wrbt-api run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
